body {
  background-image: url(images/fondo.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
/* DIV */

.box {
  background-color: rgba(253, 255, 255, 0.662);
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
  box-shadow: 3px 4px 10px 10px ;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.747);
  text-align: center;
  height: 80px;
  width: 300px;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 5px 5px 5px 5px ; 
}

#contentId {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* Imagenes  */

.fila-temp {
  display: flex;
  flex-direction: row;
}

.temp-img {
  height: 70px;
  width: 70px;
  margin: 0px 0px 0px 30px;
}

.viento-temp {
  display: flex;
  flex-direction: row;
}

.viento-img {
  height: 70px;
  width: 70px;
  margin: 0px 0px 0px 20px;
}

.image-dia {
  height: 70px;
  width: 70px;
  margin-left: 190px;
}

/* Div datos temperatura */

.container-data {
  display: flex;

}

.info {
  font-size: 35px;
  margin-top: 5px;

}

.viento {
  font-size: 45px;
}

.viento-km {
  padding-left: 15px;
  font-size: 18px;
}

.dia {
  margin-left: 190px;
  font-size: 25px;
}
/* button style */

#btn {
  margin: 10px;
  height: 30px;
  width: 100px;
  border-radius: 10px;
}

#btn1 {
  margin-top: 10px;
  height: 30px;
  width: 200px;
  border-radius: 10px;
}

/*button hover */

#btn:hover {
  background-color: rgba(81, 81, 218, 0.763);
  border: solid white 1px;
}

#btn1:hover {
  background-color: rgba(81, 81, 218, 0.763);
  border: solid white 1px;
}

/* input */

#city {
 height: 30px;
 width: 300px;
 text-align: center;
 margin: 20px;
 border-radius: 10px;
 color: black;
 border:solid rgba(255, 255, 255, 0.858);
 background-color: rgba(81, 81, 218, 0.763);
}